:root{
    /******** SIZE OF ALL THE RADIUS ********/
    --sunradius: 300px;
    --earthradius:50px;
    --marsradius: calc((var(--earthradius)/2));
    --mercuryradius: calc(var(--earthradius)/3);
    --venusradius: calc(var(--earthradius) - 10px);
    --jupiterradius: calc(var(--earthradius)*3);
    --saturnradius: calc(var(--earthradius)*2.5);
    --uranusradius: calc(var(--earthradius)*1.4);
    --neptuneradius: calc(var(--earthradius)*1.6);

    /********* DURATION OF TRANSLATION *********/
    --mercuryTras:8.8s;                                 /* I based it on the actual days it takes for Mercury to orbit the sun. */
    --venusTras: calc(225 * var(--mercuryTras) / 88); 
    --earthTras: calc(365 * var(--mercuryTras) / 88);  
    --marsTras: calc(687 * var(--mercuryTras) / 88);/* Then i used the actual days of each planet multiplying by the time that i setted to*/
    --jupiterTras: calc(4329 * var(--mercuryTras) / 88);/* mercury and divided by his actual days. That gives the time for each animation. */
    --saturnTras: calc(10753 * var(--mercuryTras) / 88);
    --uranusTras: calc(30664 * var(--mercuryTras) / 88);
    --neptuneTras: calc(60158 * var(--mercuryTras) / 88);

}

@keyframes translation {
    from {rotate: 0deg;}
    to {rotate: 360deg;}
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
    color:#FFF;
    transition:transform .5s ease-in-out;
}

body{
    height: 100vh;
    overflow: hidden;
    background-image:url("/assets/img/Space.avif");/*Setting the space*/
    background-repeat: repeat;
}

#space {
    background-color: rgba(0, 0, 0, .5);/*Details*/
    height: 100vh;
    width: 100vw;
}


/******************  STANDARD SETTINGS OF ORBITS  ***************/

.orbit{
    animation: translation linear infinite;
    position: absolute;
    top:calc(50%);
}

/*******************    SUN     ******************/

.sun-container{
    position: absolute;
    left: calc(50% - var(--sunradius)/2);           /* That's the way that i used to center the sun*/
    top:calc(50% - var(--sunradius)/2 - 16px);      /****************************************************/
    display: flex;
    flex-direction: column;
    align-items: center;
}


.sun{
    border-radius: 100%;        /* I removed the corners to prevent any hover bug*/
    width: var(--sunradius);
    animation: translation 20s linear infinite;
    &:hover{
        transform: scale(1.1); /* Setting a specific scale value 'cause the sun is the bigger element*/
        cursor: pointer;
    }
}


/****************** PLANETS ******************/

.planet-container{ /* This element contains the planet and his name */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    -webkit-text-stroke-width: .3px;
    -webkit-text-stroke-color: black;
    animation: translation linear infinite reverse; /* It rotates reverse to cancel the translation effect*/
}

.planet{
    border-radius: 100%;   /* Same work used with the sun to prevent bugs*/
}

.planet:hover{
    cursor: pointer;
    transform: scale(1.5);
}

.planet-name{
    transition: all .8s ease-in-out; 
    visibility: hidden; /*  Hidding the planet's name*/
    opacity: 0;
    font-size: 1.8rem;
}

.sun-container .planet-name{
    font-size:3rem; /* Again specifing properties to the sun by his size */
}

.planet:hover + .planet-name, .sun:hover + .planet-name{
    visibility: visible;/*Showing the planet's name and moving*/
    opacity: 1;
    transform: translateY(50%);
}

/*************  MERCURY ***********/

.mercury.orbit{
    animation-duration: var(--mercuryTras); /*Setting the translation duration*/
    width: calc(var(--sunradius) + 170px); /*Size to achieve good centering depending on the planet.*/
    left:calc(50% - calc(var(--sunradius) + 170px)/2);/*Properties to achieve the good centering*/
}

img.mercury{
    width:var(--mercuryradius); /*Each planet has a specific radius*/
}

.mercury.planet-container{
    animation-duration: var(--mercuryTras);/*Canceling the translation effect*/
    right: 0;
}

/*************  VENUS   ***********/

.venus.orbit{
    animation-duration: var(--venusTras);
    left:calc(50% - calc(var(--sunradius) + 300px)/2);
    width: calc(var(--sunradius) + 300px);
}

img.venus{
    width: var(--venusradius);
}

.venus.planet-container{
    animation-duration: var(--venusTras);
}

/*************  EARTH   ***********/

.earth.orbit{
    animation-duration: var(--earthTras);
    left:calc(50% - calc(var(--sunradius) + 500px)/2);
    width: calc(var(--sunradius) + 500px);
}

img.earth{
    width: var(--earthradius);
}

.earth.planet-container{
    animation-duration: var(--earthTras);
    right: 0;
}

/*************  MARS   ***********/

.mars.orbit{
    animation-duration: var(--marsTras);
    left:calc(50% - calc(var(--sunradius) + 700px)/2);
    width: calc(var(--sunradius) + 700px);
}

img.mars{
    width: var(--marsradius);
}

.mars.planet-container{
    animation-duration: var(--marsTras);
}

/*************  JUPITER   ***********/
.jupiter.orbit{
    animation-duration: var(--jupiterTras);
    left:calc(50% - calc(var(--sunradius) + 1100px)/2);
    width: calc(var(--sunradius) + 1100px);
}

img.jupiter{
    width: var(--jupiterradius);
}

.jupiter.planet-container{
    animation-duration: var(--jupiterTras);
    right: 0;
}

/*************  SATURN   ***********/

.saturn.orbit{
    animation-duration: var(--saturnTras);
    left:calc(50% - calc(var(--sunradius) + 1700px)/2);
    width: calc(var(--sunradius) + 1700px);
}

img.saturn{
    height: var(--saturnradius);
}

.saturn.planet-container{
    animation-duration: var(--saturnTras);
}


/*************  URANUS   ***********/

.uranus.orbit{
    animation-duration: var(--uranusTras);
    left:calc(50% - calc(var(--sunradius) + 1950px)/2);
    width: calc(var(--sunradius) + 1950px);
}

img.uranus{
    height: var(--uranusradius);
}

.uranus.planet-container{
    animation-duration: var(--uranusTras);
    right: 0;
}

/*************  NEPTUNE   ***********/

.neptune.orbit{
    animation-duration: var(--neptuneTras);
    left:calc(50% - calc(var(--sunradius) + 2200px)/2);
    width: calc(var(--sunradius) + 2200px);
}

img.neptune{
    height: var(--neptuneradius);
}

.neptune.planet-container{
    animation-duration: var(--neptuneTras);
}
